.hh {
    color: cadetblue;
    background-color: rgb(170, 194, 236);
}
.ll {
    color: darkseagreen;
}
.yy {
    color: darksalmon;
}
.uu {
color: #e18bf7;
}
.dd {
color: #fa9bfa;
}
.ff {
color: #96e1ff;
}
.mm {
color: #ffb390;
}
.vv {
color: #a0faaf;
}
.aa {
    color: #ca78fa;
}
.kk {
color: #e6fd7e;
}